mixin select-tree(records, level = 1)
  each item in records
    - const prefix = Array(level).join("-- ")
    
    if(category)
      option(
        value=item.id
        selected = (item.id==(category?category.parent_id:"")?true:false)
      ) #{prefix}#{item.title}

    if(categoryProduct)
      option(
        value=item.id
        selected = (item.id==(categoryProduct?categoryProduct.id:"")?true:false)
      ) #{prefix}#{item.title}

    if(item.children)
      +select-tree(item.children, level + 1)
